$browser-prefixes: moz webkit ms o;
$steps-interval: 1.5;
$purchase-interval: 1.5;
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin prefix($property, $value, $prefixes:$browser-prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin animation($str) {
    @include prefix(animation, #{$str});
}

@mixin animation-fill($str) {
    @include prefix(animation-fill-mode, #{$str});
}

@mixin transition($str) {
    @include prefix(transition, #{$str});
}

@mixin transform($str) {
    @include prefix(transform, #{$str});
}

@mixin animate-steps($from, $to) {
    @for $i from $from to $to {
        .animate-steps-#{$i} {
            $delay: $steps-interval*($i - 1);
            @include prefix(animation-duration, #{$steps-interval}s !important);
            @include prefix(animation-delay, #{$delay}s !important);
            @include animation-fill('both');
        }
    }
}

@include animate-steps(1, 7);
@mixin animate-purchase-numbers($from, $to) {
    @for $i from $from to $to {
        .animate-purchase-#{$i} {
            $delay: $purchase-interval*($i - 1);
            @include prefix(animation-duration, #{$purchase-interval}s !important);
            @include prefix(animation-delay, #{$delay}s !important);
            @include animation-fill('both');
        }
    }
}

@include animate-purchase-numbers(1, 4);