.testimonies-title {
    animation-name: easeInTitle;
    animation-duration: 1s;
    -webkit-animation-name: easeInTitle;
    -webkit-animation-duration: 1s;
    -o-animation-name: easeInTitle;
    -o-animation-duration: 1s;
    -moz-animation-name: easeInTitle;
    -moz-animation-duration: 1s;
}

@keyframes easeInTitle {
    from {
        transform: scale(0.5);
        -transform: scale(0.5);
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    to {
        transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes easeInTitle {
    from {
        transform: scale(0.5);
        -transform: scale(0.5);
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    to {
        transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.testimonies-sub-title {
    animation: opacityIn 3s;
    -webkit-animation: opacityIn 3s;
    -o-animation: opacityIn 3s;
    -moz-animation: opacityIn 3s;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.rotate-skew {
    animation-name: rotateSkewLeft;
    animation-duration: 2s;
    -moz-animation-name: rotateSkewLeft;
    -moz-animation-duration: 2s;
    -o-animation-name: rotateSkewLeft;
    -o-animation-duration: 2s;
    -webkit-animation-name: rotateSkewLeft;
    -webkit-animation-duration: 2s;
}

@keyframes rotateSkewLeft {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@-webkit-keyframes rotateSkewLeft {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.rotate-skew-right {
    animation-name: rotateSkewRight;
    animation-duration: 2s;
    -webkit-animation-name: rotateSkewRight;
    -webkit-animation-duration: 2s;
    -o-animation-name: rotateSkewRight;
    -o-animation-duration: 2s;
    -moz-animation-name: rotateSkewRight;
    -moz-animation-duration: 2s;
}

@keyframes rotateSkewRight {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@-webkit-keyframes rotateSkewRight {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.rotate-skew-left-90 {
    animation-name: rotateSkewLeft90;
    animation-duration: 2s;
    -webkit-animation-name: rotateSkewLeft90;
    -webkit-animation-duration: 2s;
    -o-animation-name: rotateSkewLeft90;
    -o-animation-duration: 2s;
    -moz-animation-name: rotateSkewLeft90;
    -moz-animation-duration: 2s;
}

@keyframes rotateSkewLeft90 {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@-webkit-keyframes rotateSkewLeft90 {
    0% {
        transform: rotate(-45deg) scale(0.1);
        transform-origin: center right;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.rotate-skew-right-90 {
    animation-name: rotateSkewRight90;
    -webkit-animation-name: rotateSkewRight90;
    -o-animation-name: rotateSkewRight90;
    -moz-animation-name: rotateSkewRight90;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
}

@keyframes rotateSkewRight90 {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@-webkit-keyframes rotateSkewRight90 {
    0% {
        transform: rotate(45deg) scale(0.1);
        transform-origin: center left;
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.rotate-scale-last {
    animation-name: rotateScaleRubber;
    -moz-animation-name: rotateScaleRubber;
    -o-animation-name: rotateScaleRubber;
    -webkit-animation-name: rotateScaleRubber;
    animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
}

@keyframes rotateScaleRubber {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes rotateScaleRubber {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}